<!DOCTYPE HTML>

<html>
	<head>
		<title>Onesmus Makori</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />



		<link rel="stylesheet" href="/static/css/style.css">
		
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/fontawesome-all.min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<img src="{{ url_for('static', filename='assets/images/overlay.png') }}" alt="Image">

		








	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/static/images/fulls/01.jpg" alt="" /></a>
					<h1><strong>I am Onesmas Makori</strong>, a skiled software developer<br />
					and machine learning enthusiast<br />

				</div>
			</header>

			


		<!-- Main -->
			<div id="main">
					<div class="top">
						<ul class="actions">
							<li><a href="{{ url_for('blog') }}" class="button">Blogs</a></li>
						</ul>
				
						<ul class="actions">
							<li><a href="#projects" class="button">Projects</a></li>
						</ul>
					</div>
			

				<!-- One -->
					<section class="top">
						<header class="major">
							<h2>Software Developer specialized in Python and mongodb</h2>
						</header>
						<p>I create stunning web and mobile applications using modern technologies</p>

						
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/fulls/01.jpg" class="image fit thumb"><img src="/static/images/thumbs/01.jpg" alt="" /></a>
								<h3>Created a Face Recognition Algorityhm using MTCNN </h3>
								<p>Created a Face Recognition Algorityhm using MTCNN.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/fulls/02.jpg" class="image fit thumb"><img src="/static/images/thumbs/02.jpg" alt="" /></a>
								<h3>Thesismasters</h3>
								<p>A web App for managing student assignments .</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/thumbs/03.jpg" class="image fit thumb"><img src="/static/images/fulls/03.jpg" alt="" /></a>
								<h3>Black Coffee Network</h3>
								<p>Created the Website for BCN, a youth led organization focused on helping youths.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/fulls/04.jpg" class="image fit thumb"><img src="/static/images/thumbs/04.jpg" alt="" /></a>
								<h3>Hospital Database Management System</h3>
								<p>Designed a system for managing healthcare records and helping patients book appointments.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/fulls/06.JPG" class="image fit thumb"><img src="/static/images/thumbs/05.jpg" alt="" /></a>
								<h3>Fire Base Simulation</h3>
								<p>By using mongodb and RESTful APIs, i created an app tat simulates firebase.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="/static/images/fulls/06.JPG" class="image fit thumb"><img src="/static/images/thumbs/06.JPG" alt="" /></a>
								<h3>Adult Website</h3>
								<p>Created an adult website where the admin can upload videos and images.</p>
							</article>
						</div>
					
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
  <p>Contact Form.</p>
  <div class="row">
	
    <div class="col-8 col-12-small">
      <form method="post" action="/">
        <div class="row gtr-uniform gtr-50">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="name" id="name" placeholder="Name" required>
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div class="col-12">
            <textarea name="message" id="message" placeholder="Message" rows="4" required></textarea>
          </div>
        </div>
        <ul class="actions">
          <li>
            <input type="submit" value="Send Message">
          </li>
        </ul>
      </form>
    </div>
  </div>
						</div>
					</section>

			

			</div>


			<div class="blogs">
				




			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; MakoriDev</li><li>Design: <a href="#">MakoriDev</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>